#parse("Banner.vm") 

#parse("Errors.vm")

<form action="deleteReport.action">
<div class="titulo_pagina">Confirmação de Exclusão de Relatório </div>

  <table class="tabela_detalhe">
  <tr><td colspan="2">
   		Isto removerá o relatório de todos os grupos
		e todos os logs do relatório.
	</td><tr>
    <tr class="a">
      <td class="boldText" width="20%"><b>Nome</b></td>
      <td>$!name</td>
    </tr>
    <tr class="b">
      <td class="boldText"><b>Descrição</b></td>
      <td>$!description</td>
    </tr>  
    </table>
    
   <div class="barra_confirmacao" id="buttons">
        <input class="standardButton" type="submit" name="submitDelete" value="Confirmar">
        <input class="standardButton" type="submit" name="submitCancel" value="Cancelar">
         <input type="hidden" name="id" value="$!id"> 
   </div>
        
  </form>  
      
  <br> 


#parse("Footer.vm") 

