#parse("Banner.vm") 

#parse("Errors.vm")

  <form action="deleteDataSource.action" >
<div class="titulo_pagina">Confirmação de Exclusão de DataSource</div>
  
  <table class="tabela_detalhe" >   
  <tr><td colspan="2"><b>
   	Dados</b>
	</td><tr>
    <tr class="a">
      <td class="boldText">Nome</td>
      <td>$!name</td>
    </tr>   
    </table>
  
      	<div class="barra_confirmacao" id="buttons">
	        <input class="standardButton" type="submit" name="submitDelete" value="Confirmar">
    	    <input class="standardButton" type="submit" name="submitCancel" value="Cancelar">
    	</div>
   
    <input type="hidden" name="id" value="$!id">     
  
  </form>



#parse("Footer.vm") 


