#parse("Banner.vm") 

#parse("Errors.vm")

  <form action="editUser.action" >
   
<div class="titulo_pagina">  
		   #if ($command == "add")
		   	Novo Usuário
		   #end
		   #if ($command != "add")
		   	Usuário $name
		   #end
</div>	
  
  <table class="tabela_detalhe">  
    <tr class="a">
      <td class="boldText">Nome</td>
      <td><input type="text" size="60" name="name" value="$!name"></td>
    </tr>
    <tr class="b">
      <td class="boldText">Senha</td>
      <td><input type="password" size="60" name="password" value="$!password"></td>
    </tr>    
    <tr class="a">
      <td class="boldText">Confirme a Senha</td>
      <td><input type="password" size="60" name="passwordConfirm" value="$!passwordConfirm"></td>
    </tr>    
    <tr class="a">
      <td class="boldText">Id</td>
      <td><input type="text" size="60" name="externalId" value="$!externalId">						    </td>
    </tr>
    <tr class="b">
      <td class="boldText">Email</td>
      <td><input type="text" size="60" name="email" value="$!email"></td>
    </tr>    
    <!--tr>
    	<td class="boldText">Dashboard Report</td>
    	<td>
   	     <select name="reportId">    
   	      <option value="-1">(None)</option>     
          #foreach ($report in $reports)
          <option value="$report.id" #if ($reportId == $report.id) SELECTED #end >$report.name &nbsp;</option>
          #end
        </select>   	    
   	   </td>  
   	</tr-->    
    <tr>
      <td>Menu Administração</td>
      <td>&nbsp;</td>
	</tr>
      		<tr>   	<td>&nbsp;</td><td>
				<input type="checkbox" name="advancedScheduler" value="true" 				
			      		#if ($advancedScheduler == true) CHECKED #end>
			    Agendamento Avançado de Relatórios
      	   </td></tr>	
      		<tr>   	<td>&nbsp;</td><td>
				<input type="checkbox" name="chartAdmin" value="true" 				
			      		#if ($chartAdmin == true) CHECKED #end>
			     Administrar Charts
      	   </td></tr>
      		<tr>   	<td>&nbsp;</td><td>
				<input type="checkbox" name="dataSourceAdmin" value="true"  
			      		#if ($dataSourceAdmin == true) CHECKED #end>
			     Administrar DataSources
      		<tr>   	<td>&nbsp;</td><td>
					<input type="checkbox" name="uploader" value="true"  
			      		#if ($uploader == true) CHECKED #end>
			      	Fazer Upload de Arquivos
      	   </td></tr>
      		<tr>   	<td>&nbsp;</td><td>
				<input type="checkbox" name="groupAdmin" value="true"  
			      		#if ($groupAdmin == true) CHECKED #end>
			    Administrar Grupos
      	   </td></tr>
      		<tr>   	<td>&nbsp;</td><td>
				<input type="checkbox" name="logViewer" value="true"  
			      		#if ($logViewer == true) CHECKED #end>
			     Consultar Log     
      	   </td></tr>
      		<tr>   	<td>&nbsp;</td><td>
				<input type="checkbox" name="parameterAdmin" value="true"  
			      		#if ($parameterAdmin == true) CHECKED #end>
			     Administrar Filtros
      	   </td></tr>
      		<tr>   	<td>&nbsp;</td><td>
				<input type="checkbox" name="reportAdmin" value="true"  
			      		#if ($reportAdmin == true) CHECKED #end>
			     Administrar Relatórios
      	   </td></tr>
      		<tr>   	<td>&nbsp;</td><td>
				<input type="checkbox" name="rootAdmin" value="true"  
			      		#if ($rootAdmin == true) CHECKED #end>
			    Administrador Geral
      	   </td></tr>
      		<tr>   	<td>&nbsp;</td><td>
      			<input type="checkbox" name="scheduler" value="true"  
			      		#if ($scheduler == true) CHECKED #end>		
			    Agendar Relatórios
      	   </td></tr>				
    <tr>
      <td class="boldText" valign="top">Menu Consultas</td>
	  <td>&nbsp;</td>
	  </tr>
      
      	   #foreach ($reportGroup in $reportGroups)
      		<tr><td>&nbsp;</td><td> 
      			 <input type="checkbox" name="groupIds" value="$reportGroup.id"
        			  #foreach ($reportGroupForUser in $reportGroupsForUser)
			            #if ($reportGroup.id == $reportGroupForUser.id)
			              CHECKED
			            #end
			          #end
			      >
			      $reportGroup.name
			 </td><tr>
			 #end
    </table>

      	<div class="button-bar" id="buttons" >
      		<input class="standardButton" type="submit" name="submitType" value="Ok">      		
        </div>
    
    <input type="hidden" name="id" value="$!id">
    <input type="hidden" name="command" value="$!command">    
   
  </form> 


#parse("Footer.vm") 

