#parse("Banner.vm") 

#parse("Errors.vm")
     
<form action="deleteGroup.action" >
<div class="titulo_pagina" >Confirmação de Exclusão de Grupo</div>

  
  <table class="tabela_detalhe" >   
    <tr class="a">
      <td class="boldText" width="20%"><b>Nome</b></td>
      <td>$!name</td>
    </tr>
    <tr class="b">
      <td class="boldText"><b>Descrição</b></td>
      <td>$!description</td>
    </tr>  
    </table>
  
    
   
      <div class="barra_confirmacao" id="buttons">
        <input class="standardButton" type="submit" name="submitDelete" value="Excluir" >
        <input class="standardButton" type="submit" name="submitCancel" value="Cancelar">
       </div>
    
    <input type="hidden" name="id" value="$!id">     
   
  </form>
  <br> 




#parse("Footer.vm") 


