#parse("Banner.vm") 
<script type="text/javascript">
	dojo.require("dojo.widget.TabContainer");
	dojo.require("dojo.widget.LinkPane");
	dojo.require("dojo.widget.ContentPane");
	dojo.require("dojo.widget.LayoutContainer");
</script>
#parse("Errors.vm")    
<form action="editProperties.action" method="post">
<div class=titulo_pagina >Configurações</div>
  
  
  <table class="tabela_detalhe" >   
    <tr>
      <td class="boldText">Diretório Base</td>
      <td>      
      	<img  id="one" src="images/help.gif">
      	<a dojoType="tooltip" connectId="one" href="tooltips/properties-basedirectory.html" executeScripts="no"></a>
      </td>
      <td>
		<input type="text" size="60" name="baseDirectory" value="$!baseDirectory"><br/>
	  </td>
	</tr>	
	 <tr>
      <td class="boldText">Diretório para Geração de Relatórios</td>
      <td>      
      	<img  id="rg" src="images/help.gif">
      	<a dojoType="tooltip" connectId="rg" href="tooltips/properties-report-generation.html" executeScripts="no"></a>
      </td>
      <td>
		<input type="text" size="60" name="reportGenerationDirectory" value="$!reportGenerationDirectory"><br/>
	  </td>
	</tr>	
    <tr>
      <td class="boldText">Diretório Temporário</td>      
      <td>
      	<img  id="two" src="images/help.gif">
      	<a dojoType="tooltip" connectId="two" href="tooltips/properties-tempdirectory.html" executeScripts="no"></a>      
      </td>
      <td>
		<input type="text" size="60" name="tempDirectory" value="$!tempDirectory"><br/>
	  </td>
	</tr>	
    <tr>
      <td class="boldText">Formato de Datas</td>
      <td>
      	&nbsp;
      </td>
      <td><input type="text" size="60" name="dateFormat" value="$!dateFormat"></td>
    </tr>    
    <tr>
      <td class="boldText">Qtde Máxima de Linhas do Relatório</td>
      <td>
      	<img  id="four" src="images/help.gif">
      	<a dojoType="tooltip" connectId="four" href="tooltips/properties-maxrows.html" executeScripts="no"></a>          
      </td>
      <td><input type="text" size="60" name="maxRows" value="$!maxRows"></td>
    </tr>    
	<tr>
      <td class="boldText">SMTP Host (Mail)</td>
      <td>
      	<img  id="five" src="images/help.gif">
       	<a dojoType="tooltip" connectId="five" href="tooltips/properties-mailhost.html" executeScripts="no"></a>       
      </td>
      <td>
		<input type="text" size="60" name="mailHost" value="$!mailHost">		
	  </td>
    </tr>
    <tr>
      <td class="boldText">Usar Autenticador de Correio</td>
      <td>
      	<img  id="six" src="images/help.gif">
      	<a dojoType="tooltip" connectId="six" href="tooltips/properties-mailauthenticator.html" executeScripts="no"></a>         
      </td>
      <td>
		<input type="checkbox" name="mailAuthenticatorUsed" value="true" #if ($mailAuthenticatorUsed == true) CHECKED #end>		
	  </td>
    </tr>
	<tr>
      <td class="boldText">Usuário do Autenticador de Correio</td>
      <td>
      	&nbsp;
      </td>
      <td><input type="text" size="60" name="mailUser" value="$!mailUser"></td>
    </tr>
	<tr>
      <td class="boldText">Senha do Autenticador de Correio</td>
      <td>
      	&nbsp;
      </td>
      <td><input type="password" size="60" name="mailPassword" value="$!mailPassword"></td>
    </tr>     
    <tr><td colspan="4"><hr></td></tr> 
    <tr>
      <td align="center" class="dialogButtons" colspan="3">      	
      	<input class="standardButton" type="submit" name="submitType" value="Ok">     	
      </td>
    </tr>    
   </table>
 
  
</div><div class="barra_inferior">&nbsp;</div>  </form>
<br>
<form action="imageCleanup.action" method="post">
<div class=titulo_pagina >Limpar Arquivos Temporários</div>


  <table class="tabela_detalhe" >   
    <tr>
      <td colspan="3">
	O diretório temporário de imagem é:
      <br/><br/>
      <strong>$imageTempDirectory</strong>
      <br/><br/>
	Este diretório contêm <strong>$numberOfFiles</strong> arquivos, utilizando <strong>$directorySize</strong> de espaço.
      </td>
	</tr>	    
    <tr><td colspan="4"><hr></td></tr> 
    <tr>
      <td align="center" class="dialogButtons" colspan="3">      	
      	<input class="standardButton" type="submit" name="submitType" value="Limpar">     	
      </td>
    </tr>    
   </table>
 
  
</div><div class="barra_inferior">&nbsp;</div>  </form>

#parse("Footer.vm") 

