#parse("Banner.vm") 

#if (!$report.displayInline)

	<table>
  	<tr>
  		<td>
		  <div class="breadCrumbs" id="breadCrumbs">
		  	<a href="reportGroup.action">Menus...</a> |		  
		  	<a href="reportList.action">Relatórios...</a>
		  </div>
		</td>
	</tr>
	</table>	
	
#end

#parse("Errors.vm") 

<div align="center">
 
$html
   
</div>

#parse("Footer.vm")




	
