#parse("Banner.vm") 

#parse("Errors.vm")


<div class="titulo_pagina">Mapas</div>
  
  $req.setAttribute("reportCharts", $reportCharts)

  #bodytag( Table "name=reportCharts" "class=displayTag" "sort=list" "decorator=org.efs.openreports.util.HRefColumnDecorator")  	      
    #tag( Column "property=name" "href=editMap.action?command=edit" "paramId=id" "paramProperty=id" "title=Nome" "sortable=true" "headerClass=sortable")    	     	      	     
    #tag( Column "property=description" "title=Descrição" "sortable=true" "headerClass=sortable")  	     	        	     	     
    #tag( Column "property=removeLink" "title=" "href=deleteChart.action" "paramId=id" "paramProperty=id")  	     	     
  #end   
<div class="button-bar">
<input type="button" value="Novo" onclick="javascript:abre('editMap.action?command=add');" class="botao">&nbsp;</div>


#parse("Footer.vm") 

