#parse("Banner.vm") 
	
#parse("Errors.vm")

<br/>

<div align="center">
  
	<div class="instructions" id="instructions">
  		<a href="editReport.action?command=add">
  			<img border="0" src="images/add.gif"/> Add Report
  		</a>  	  
      	#if ($user.uploader)      
  		<a href="reportUpload.action">
  			<img border="0" src="images/upload.gif"/> Upload Report Files
  		</a>
  		#end
  		<a href="reportAdmin.action?command=add">
  			<img border="0" src="images/back.gif"/> Back to Admin Menu
  		</a>
  	</div>
  		
  <br/> 
   
  $req.setAttribute("reports", $reports)

  #bodytag( Table "name=reports" "class=displayTag" "sort=list" "decorator=org.efs.openreports.util.HRefColumnDecorator")  	   	      
    #tag( Column "property=name" "href=editReport.action?command=edit" "paramId=id" "paramProperty=id" "title=Name" "sortable=true" "headerClass=sortable")    	     	      	     
    #tag( Column "property=description" "title=Description" "sortable=true" "headerClass=sortable")  	 
    #tag( Column "property=addToGroupLink" "title=" "href=editReportGroups.action" "paramId=id" "paramProperty=id")  	     	         	        	     	     
    #tag( Column "property=removeLink" "title=" "href=deleteReport.action" "paramId=id" "paramProperty=id")  	     	     
  #end  
    
  <br>  
  
</div>

#parse("Footer.vm") 


